 {:paths ["src"]
  :deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
         cljsjs/react-dom {:mvn/version "16.2.0-3"}
         thheller/shadow-cljsjs  {:mvn/version "0.0.21"}
         reagent/reagent {:mvn/version "1.0.0"}
         re-frame/re-frame {:mvn/version "1.2.0"}
         re-com/re-com {:mvn/version "2.13.2"}
         re-pressed/re-pressed {:mvn/version "0.3.1"}
         bidi/bidi {:mvn/version "2.1.6"}
         clj-commons/pushy {:mvn/version "0.3.10"}
         }
  :aliases {:run { :main-opts ["-m" "einspluseins.core"]  }}
  }

